html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

@import "var.scss";
@import "grid.scss";
@import "button.scss";
@import "input.scss";
@import "checkbox.scss";
@import "radio.scss";
@import "add.scss";