// 单选框
.#{$css-prefix}-radio {
  position: absolute;
  display: none;
  &+label {
    position: relative;
    padding-left: 26px;
    line-height: 1.3;
    cursor: pointer;
    white-space: nowrap;
    user-select:none;
    -ms-user-select: none;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $color-border-primary;  
      background-color: $color-white;
      border-radius: 100%;  
      transition: border-color .1s ease;
    }
    &:after {
      display: none;
      content: '';
      position: absolute;      
      top: 5px;
      left: 5px;
      width: 8px;
      height: 8px;      
      border-radius: 100%;
      transition: background-color .1s ease;
    }    
  }
  // 选中的
  &:checked {
    &+label {
      &:before {
        border-color: $color-primary;
      }
      &:after {
        display: block;
        background-color: $color-primary;
      }      
    }
    &[disabled] {
      &+label {
        &:before {
          border-color: $color-border-primary;
        }
        &:after {
          background-color: $color-border-primary;
        }        
      }    
    }    
  }
  // 不可用的
  &:disabled {
    &+label {
      color: $color-text-disabled;
      &:before {
        background-color: $color-bg-primary;
      }    
    }
  }  

}